html {
  font-family: "Noto Sans JP", sans-serif;
  font-size: 1.25rem;
  line-height: 2;
  letter-spacing: 0.05em;

  color: #333333;
  background-color: #fafafa;
}

*, *::before, *::after {
  box-sizing: border-box;
}

:where(header, footer, main, aside) {
  padding-inline: 0.5ic;
  max-inline-size: 40ic;
  margin-inline: auto;
}

:where(h1, h2, h3, h4, h5, h6) {
  text-wrap: balance;
  word-break: auto-phrase;
  line-height: 1.5;
}

:where(p) {
  word-break: auto-phrase;
  margin-block: 1.5em;
}

:where(dt) {
  font-weight: 600;
}

:where(pre) {
  padding: 1em;
  font-size: 0.8rem;
  line-height: 1.4;
}
:where(code) {
  font-style: italic;
  padding: 0 0.2em;
  background-color: #eeeeee;
}
:where(pre) > :where(code) {
  font-family: Menlo, Monaco, 'Courier New', monospace;
  font-style: initial;
  padding: initial;
  background-color: initial;
}

:where(blockquote) {
  margin-block: 2em;
  margin-inline: 0;
  padding-block: 1em;
  padding-inline: 0.2em;
  border-left: 8px solid #CACACA;
  background-color: #eeeeee;
}

:where(a) {
  word-break: break-word;
}

:where(table) {
  inline-size: 100%;
  overflow-x: auto;
}
:where(th, td) {
  padding: 0.3em;
}

:where(
  thead tr,
  tr:nth-child(2n)
 ) {
  background-color: #eeeeee;
}

:where(img) {
  inline-size: 100%;
  block-size: auto;
}

:where(strong) {
  text-decoration: underline solid rgba(255, 255, 0, 0.5) 0.6ic;
  text-decoration-skip-ink: none;
  text-underline-offset: -0.3ic;
  font-weight: 600;

  :where(a) {
    text-underline-offset: initial;
  }
}

@media (prefers-reduced-motion) {
  :where(*, *::before, *::after) {
    animation-duration: 0s !important;
    transition: none !important;
    scroll-behavior: auto !important;
  }
}
